@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid index-container" style="margin-top:200px; width:70%">
    <div class="container login-container">
        <div class="row">
            <div class="col-md-12">
                <img src="/alpha.png" />
            </div>
            <div class="col-md-12" style="margin-top:20px;">
                <h4>Welcome to <br /><strong>alpha service</strong></h4>
            </div>
            <div class="col-md-12">
                <form method="post">
                    <div class="form-group">
                        <label>Email Adress</label>
                        <input class="form-control" type="email" name="email" id="email" placeholder="Enter your email adress" required />
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input class="form-control" type="password" name="password" id="password" placeholder="Enter your password" required />
                    </div>
                    <div class="col-md-12" style="text-align:end;">
                        <p style="font-size:10px; width:90%"><a href="/Home/ResetPassword">Forgot your password?</a></p>
                    </div>
                    <button style="width: 90%;" class="btn btn-primary log-in" type="submit">Continue</button>
                </form>
            </div>
            <div class="col-md-12" style="text-align:center;">
                <p style="font-size: 10px; width: 90%">Don't have an account? <a href="/Home/Registration">Sign Up</a></p>
            </div>
            <div class="col-md-12">
                @Html.ValidationMessage("PassChangeKey", new { @class = "text-success" })
                @Html.ValidationMessage("SuccessKey", new { @class = "text-success" })
                @Html.ValidationMessage("ErrorKey", new { @class = "text-danger" })
            </div>
        </div>
        
    </div>
    <div class="container service-container">
        <div class="row">
            <div>
                <img style="width: 100%; height: 550px; object-fit: contain;" src="/service.png" />
            </div>
            
        </div>
    </div>
</div>
